<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yazhi1992.practice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".eleme_button.ElemeBtnActivity">
        </activity>
        <activity android:name=".rotate_circle.RotateCircleActivity">
        </activity>
        <activity android:name=".wave_view.WaveViewActivity">
        </activity>
        <activity android:name=".vertical_text.VerticalTextActivity">
        </activity>
        <activity android:name=".bezier_anim.BezierAnimActivity">
        </activity>
        <activity android:name=".ripple_view.RippleActivity">
        </activity>
        <activity android:name=".line_chart_view.LineChartActivity">
        </activity>
        <activity android:name=".wheel_view.WheelViewActivity">
        </activity>
        <activity android:name=".hook_icon.HookIconActivity">
        </activity>
        <activity android:name=".immersion_status_bar.MainImmersionActivity">
        </activity>
        <activity
            android:name=".immersion_status_bar.ImmersionImageActivity"
            android:theme="@style/NoActionBarTheme">
        </activity>
        <activity
            android:name=".immersion_status_bar.ImmersionBarActivity"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".immersion_status_bar.ImmersionNavActivity"
            android:label="@string/title_activity_immersion_nav"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".immersion_status_bar.ImmersionActionBarActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".annnotation.TestAnnotationActivity">
        </activity>
        <activity
            android:name=".question_button.SizeActivity"
            android:theme="@style/NoActionBarTheme">
        </activity>
        <activity android:name=".question_button.QuestionActivity">
        </activity>
        <activity android:name=".question_button.OnTouchActivity">
        </activity>
        <activity android:name=".arthmetic_practive.ArthmeticActivity">
        </activity>
        <activity android:name=".hencoder.ViwOneActivity">
        </activity>
        <activity android:name=".hencoder.HenCoder">
        </activity>
        <activity android:name=".flowlayout.FlowLayoutActivity">
        </activity>
        <activity android:name=".swipelayout.SwipeLayoutActivity">
        </activity>
    </application>

</manifest>